<table class="table">

  <thead>
    <tr>


      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Wifi</th>
      <th scope="col">Resurant</th>
      <th scope="col">Pool </th>
      <th scope="col">Bar</th>
      <th scope="col">ParkingSpot</th>
      <th>Hotel Operation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of allHotels">

      <td>{{item.name}}</td>
      <td>{{item.location}}</td>
      <td>{{item.wifi}}</td>
      <td>{{item.resurant}}</td>
      <td>{{item.pool}}</td>
       <td>{{item.bar}}</td>
      <td>{{item.parkingSpot}}</td>
      <td>
         <a class="nav-link" routerLink="/editHotel">Edit</a>
      </td>
      <td>
        <a class="nav-link" routerLink="/deleteHotel">Edit</a>
     </td>
    </tr>
  </tbody>
</table>
<a class="nav-link" routerLink="/addHotel">Edit</a>

